.faqScrollbar {
  overflow-y: auto; /* make sure the scrollbar appears when needed */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #dee1e7 #f3f4f6; /* thumb color | track color */
}

/* Chrome, Edge, Safari */
.faqScrollbar::-webkit-scrollbar {
  width: 8px;
}

.faqScrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 10px;
}

.faqScrollbar::-webkit-scrollbar-thumb {
  background-color: #dee1e7; 
  border-radius: 10px;
  transition: background 0.3s ease;
}

.faqScrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #dfdfdf;
}
